@import url("http://fonts.googleapis.com/css?family=Warnes&display=swap");



*{
    box-sizing: border-box;
     margin: 0;
     padding: 0;
     
 }
 html {
    font-size: 62.5%;
    font-family: sans-serif;
 }
 .nav-bar {
    background-color: black;
    padding: 1rem 1.5rem;
    justify-content: space-between;
    display:flexbox;
    align-items: center;
    
    
 }
 
.logo, .p19, .p21{
    font-size: 34px;
  /*  font-weight: 500; */
    color: #fff;
    text-shadow: 
    0 0 5px #fff,
    0 0 10px #000370,
    0 0 15px #000370,
    0 0 20px #15f4ee,
    0 0 25px #15f4ee,
    0 0 30px #15f4ee,
    0 0 35px #15f4ee;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Warnes', cursive;
    background: transparent;

    
}

.logo p19{
    font-size: 34px;
    font-weight: 500;
    color: snow;
    text-decoration: none;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding-left: 20px;
}
.nav-item {
    margin-left: 3rem;
}
.nav-link {
    font-size: 19px;
    color: blue;
}
.nav-link:hover {
    color: yellow;
}
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: whitesmoke;
}

@media only screen and (max-width: 668px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background:linear-gradient(to left, black, blueviolet, yellow);
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: left;
        transition: 0.3s;
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item{
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    .meetfam{
        max-width: 100%;
        position: relative;
        margin: auto;
        padding-top: 50px;
        
    
    }  
    .meetpr{display: none; position: relative;} img {vertical-align: middle;}
    .meetpr {
        height: 100%;position:relative; width: 100%px; background-color: black;
        margin: 100%;}
    .meetpr img{position: relative; display: flex;}
    .meetpr img{height: 100%; width: 100%; background-color: black;}
    .meetpr.is-active{display: block;}
    .controls {
        position: absolute;
        top: calc(50% - 50px);
        display: flex;
        justify-content:space-between;
        background-color: transparent;
        width: 100%;
    }
    .controls button {
        padding: 20px;
        border: none;
        font-size: 1.8rem;
        color: white;
        background-color: transparent;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .controls button:hover {background-color: rgba(0, 0, 0, 0);}
    .dots-container {height: 20px; margin-top: 20px; text-align: center;}
/*.prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    */.controls button .next{ align-items: right;}/*
    .prev:hover, .next:hover {background-color: rgba(0, 0, 0, 0);}*/
    .dot {
        cursor: pointer;
        height: 20px;
        width: 20px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: 0.6s ease;
    }
    .dots.is-active,
    .dot:hover {background-color: #717171;}
    .fade {
        -moz-animation-name: fade;
        -moz-animation-duration: 1.5;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @-webkit-keyframes fade {from{opacity: .4} to{opacity: 1}}
    @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
        
    }
}

.container{left:0;margin-bottom:30px; background-color: black;
    padding-top:0px;position:-webkit-sticky;
    position:sticky;top:0;z-index:2}
    
    

.homolio{
    background-image: url(img/starss.gif);
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 750px;
    color: #15f4ee;
    display: flex;
    justify-content: center;
    align-items: center;  
}


.greet{
    padding-left: 20%;
}
h1{
    background: none;

    margin:0, auto;
    width: 100%;
    font-size: 30px;
    color:darkblue;
    display: inline-block;
}
h2{
    background: none;

    margin:0, auto;
    width: 85%;
    font-size: 40px;
    color: snow;
    display: inline-block;
    text-shadow: 
    0 0 5px #fff,
    0 0 10px #000370,
    0 0 15px #000370,
    0 0 20px #15f4ee,
    0 0 25px #15f4ee,
    0 0 30px #15f4ee,
    0 0 35px #15f4ee;
}
p3{
    background: none;

    margin:0, auto;
    width: 200px;
    font-size: 20px;
    color:darkblue;
    display: inline-block;
    border: 1px solid blue;
    justify-content: space-between;
    text-align: center;
}
.abtme{
    background-color: black;
    color: whitesmoke;
    width: 100%;
    height: 725px;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
}
h6{
    font-size: 50px;
    padding-top: 70px;
    padding-bottom: 60px;
}
h5{
    font-size: 30px;
    padding-top: 30px;
}
.portfo{
    background-color: black;
    background-image: url(img/portalshi.png);
    background-size: cover;
    width: 100%;
    height: 1150px;
    color: whitesmoke;
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.portcain{
    background-color:wheat;
    height: 500px;
    width: 500px;
    display: flexbox;
}
.ports{
    background: transparent;
    
}


        
        
        footer{color:#8a91a8;color:var(--primary); text-align: center;
            background-image: url(img/makewish.gif);
            background-size: cover;
            width: 100%;
            height: 900px;
            overflow: hidden;
            margin:0 auto;padding:300px 0 100px;}
            
            footer,footer div a{font-family:CourierPrime;
                font-weight:400}
            footer div a{color: green; 
            display:inline-block; 
            margin-bottom:10px;text-decoration:underline;
            font-size:40px;}
            .tel{text-decoration:none}
           



.greenn{
    background-color: #0d0208;
    height: 1000px;
    width: 100%;
}
.MAT1{
    background: none;
    color: #008f11;
    writing-mode: vertical-rl;
    justify-content: space-between;
    line-height: 35px;
    padding-left: 20px;
    letter-spacing: 5px;
    position: absolute;
    bottom: 0;
    
}

.MAddT1 p7{
    animation: bubble 5s linear infinite;
}
@keyframes bubble {
    0%{ transform: translateY(0);
    opacity: 0;}
    50%{
        opacity: 1;}
        70%{ 
            opacity: 1;}
            100%{ transform: translateY(-80vh);
                opacity: 0;}
    
}
.MAT1 p7{
    -moz-transform: translateY(-100);
    -webkit-transform: translateY(-100);
    transform: translateY(-100);

    -moz-animation: my-animation 5s linear infinite;
    -webkit-animation: my-animation 5s linear infinite;
    animation: my-animation 5s linear infinite;
}
@-moz-keyframes my-animation{
    from {  -moz-transform: translateY(-200);
    }to{
        -moz-transform: translateY(200);
    }
}

@-webkit-keyframes my-animation{
    from {
        -webkit-transform: translateY(-200);
    }to{
        -webkit-transform: translateY(200);
    }
}

@keyframes my-animation{
    from {  -moz-transform: translateY(-200);
        -webkit-transform: translateY(-200);
        transform: translateY(-200);

    }to{
        -moz-transform: translateY(200);
        -webkit-transform: translateY(200);
        transform: translateY(200);
    }
}
            
           